/.gradle
/.idea
local-dev.properties
local-test.properties
/build
/buildSrc/build
/buildSrc/.gradle
/app/out
/app/build
/app/src/dist
/app/dist/config/common/otel-javaagent.properties
/app/dist/config/local-dev/firebase-key.json
/app/dist/config/local-test/firebase-key.json
/app/node_modules
/app/postman/**/*-openapi.json
/app/postman/**/*-collection.json
/app/postman/**/report
/infra/build
/infra/out
/projects/build
/projects/ops/build
/projects/club/build
/projects/ops/out
/projects/club/out