/.gradle
/.idea
/buildSrc/build
/buildSrc/.gradle
/app/out
/app/build
/app/src/dist
/app/dist/config/local
/app/node_modules
/app/postman/**/*-openapi.json
/app/postman/**/*-collection.json
/app/postman/**/report
/infra/build
projects/ops/build
projects/club/build