<configuration debug="false">

    <property name="LOG_FILE_PATH" value="${user.home}/logs"/>
    <property name="LOG_FILE_NAME" value="ktor-example"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_PATH}/${LOG_FILE_NAME}.log</file>
        　　　　<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_FILE_PATH}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
        　　　　　　<MaxHistory>30</MaxHistory>
        　　　　</rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %m%n%xEx</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <!--
    <appender name="SystemAlert" class="base.util.SystemAlertLogAppender">
        <enabled>${systemAlert.enabled}</enabled>
        <projectEnvInstanceName>${projectEnvInstanceName}</projectEnvInstanceName>
        <logMsgPattern>${systemAlert.logMsgPattern}</logMsgPattern>
        <notifyIntervalMinutes>${systemAlert.notifyIntervalMinutes}</notifyIntervalMinutes>
        <emailSender>${email.sender}</emailSender>
        <emailReceiver>${systemAlert.email}</emailReceiver>
    </appender>
    -->

    <root level="WARN">
        <appender-ref ref="ASYNCFILE"/>
        <!--
        <appender-ref ref="SystemAlert"/>
        -->
    </root>

    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="org.flywaydb" level="INFO"/>
    <logger name="Exposed" level="INFO"/>

    <logger name="fanpoll" level="INFO"/>

    <!--
        <logger name="fanpoll.infra.database.Profiling" level="DEBUG"/>
        <logger name="[Koin]" level="INFO"/>
    -->
</configuration>
